.main {
    display: flex;
    flex-direction: column;
    color: white;
}

.header {
    margin: 0;
    padding-bottom: 1.2em;

}

.rate {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: large;
    padding-bottom: 1.5em;
}

.eur::before {
    content: '\20AC';
}

.usd::before {
    content: '\0024';
}

.uah::before{
    content: '\20B4';
}